.hero {
    text-align: center;
    div {
        background-image: url(../web/imagenes/hero-background.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 60%;
        background-size: cover;
        height: 450px;
    }
}
